<!DOCTYPE html>
<html>
  <head>
    <%- include(`${global.path}/components/head.ejs`, {
      head,
      global
    }) %>
  </head>
  <body>
    <div class="totonoo--layout-collection">
      <%- include(`${global.path}/components/header.ejs`, {
        header,
        aside
      }) %>
      <div class="collection-box" id="totonoo--box">
        <%
        const contents = main.contents
        %>
        <div class="collection-list" id="totonoo--list">
          <h2>【<%=contents.catInfo.title%>】 目录</h2>
          <nav class="catalog-box">
            <ul>
              <li><a href="<%= global.mkArticleLink(contents.filepath, 'index') %>">封面</a></li>
              <%
              const list = contents.catInfo.list || []
              %>
              <% list.forEach(item => { %>
              <li<%- (contents.filename == item.filename) ? ' class="current"' : ''%>><a href="<%= global.mkArticleLink(item.filepath, item.filename) %>"><%=item.title%></a></li>
              <% }) %>
            </ul>
          </nav>
          <div class="drag-bar" id="totonoo--bar">
            <div class="bar"></div>
          </div>
        </div>
        <div class="collection-main" id="totonoo--main">
          <div class="collection-article-outer">
            <div class="collection-article">
              <article class="totonoo--markdown-style" id="totonoo--article">
                <%- contents.body %>
              </article>
            </div>
            <%- include(`${global.path}/components/footer.ejs`, {
              global,
              footer
            }) %>
          </div>
        </div>
        <%
        const navigation = contents.navigation || []
        %>
        <div class="collection-nav" id="totonoo--nav">
          <%
          if (navigation && navigation.length > 0) {
          %>
          <ul>
            <% navigation.forEach((item, index) => { %>
            <li class="<%=item.tag%><%= index == 0 ? ' current' : ''%>" data-index="0"><a href="#<%=item.slug%>"><%=item.title%></a></li>
            <% }) %>
          </ul>
          <%
          }
          %>
        </div>
      </div>
    </div>
    <%- include(`${global.path}/components/scripts.ejs`, {
      global,
      scripts
    }) %>
  </body>
</html>
