<!DOCTYPE html>
<html>
  <head>
    <%- include(`${global.path}/components/head.ejs`, {
      head,
      global
    }) %>
  </head>
  <body>
    <div class="totonoo--layout">
      <%- include(`${global.path}/components/header.ejs`, {
        header
      }) %>
      <div class="totonoo--bookshelf">
        <div class="image-text">
          <ul>
            <%
            const list = main.list || []
            %>
            <% list.forEach(item => { %>
            <li class="item">
              <a href="<%= `${global.host}${item._id}/index.html` %>">
                <img src="<%= item.cover %>" alt="<%= item.title %>">
                <p><%= item.desc %></p>
                <h3><%= item.title %></h3>
              </a>
            </li>
            <% }) %>            
          </ul>
        </div>
      </div>
      <%- include(`${global.path}/components/footer.ejs`, {
        global,
        footer
      }) %>
    </div>
    <%- include(`${global.path}/components/scripts.ejs`, {
      global,
      scripts
    }) %>
  </body>
</html>
