<!DOCTYPE html>
<html>
  <head>
    <%- include(`${global.path}/components/head.ejs`, {
      head,
      global
    }) %>
  </head>
  <body>
    <div class="totonoo--layout">
      <%- include(`${global.path}/components/header.ejs`, {
        header
      }) %>
      <div class="totonoo--about-main">
        <%
        const content = main.content
        const navigation = main.content.navigation || []
        %>
        <div class="totonoo--markdown-style" id="totonoo--article">
          <%- content.body %>
        </div>
      </div>
      <% if (navigation.length > 0 ) { %>
      <div class="totonoo--about-nav" id="totonoo--nav">
        <ul>
          <%
          navigation.forEach((item, index) => {
          %>
          <li class="<%= item.tag %><%= index == 0 ? ' current' : '' %>" data-index="<%= index%>"><a href="#<%= item.slug %>"><%= item.title %></a></li>
          <%
          })
          %>
        </ul>
      </div>
      <% } %>
      <%- include(`${global.path}/components/footer.ejs`, {
        global,
        footer
      }) %>
    </div>
    <%- include(`${global.path}/components/scripts.ejs`, {
      global,
      scripts
    }) %>
  </body>
</html>
