<header class="totonoo--top-header">
  <div class="logo">
    <a href="/">
      <i class="logo-icon"></i>
      <h1>Totonoo<small>.com</small></h1>
    </a>
  </div>
  <nav class="top-nav">
    <ul>
      <%
        const navs = [{
          title: '首页',
          path: '/',
          icon: 'icon-home'
        }, {
          title: '文章',
          path: '/index.html',
          icon: 'icon-folder-close'
        }, {
          title: '文集',
          path: '/collection/index.html',
          icon: 'icon-docs'
        }, {
          title: '标签',
          path: '/tags/',
          icon: 'icon-discount'
        }, {
          title: '时光轴',
          path: '/timeline.html',
          icon: 'icon-time'
        }, {
          title: '关于我',
          path: '/about.html',
          icon: 'icon-share'
        }]
        navs.forEach((item, index) => {
      %>
      <li class="item<%= index == header.current ? ' current' : '' %>">
        <a href="<%= item.path %>">
          <i class="iconfont <%= item.icon %>"></i>
          <%= item.title %>
        </a>
      </li>
      <% 
        })
      %>
    </ul>
  </nav>
  <div class="top-search">
    <form method="GET" action="/search.html">
      <input type="text" name="keyword" placeholder="试试搜索功能" id="top-search-input">
      <button type="submit"><i class="iconfont icon-search"></i></button>
    </form>
  </div>
</header>
<header class="totonoo--top-header-small">
  <div class="logo">
    <a href="/">
      <i class="logo-icon"></i>
    </a>
  </div>
  <div class="nav-all">
    <button class="nav-btn" id="top-nav-btn"><i class="iconfont icon-modular"></i></button>
    <nav class="top-nav" id="top-nav-small-nav">
      <ul>
        <%
          navs.forEach((item, index) => {
        %>
        <li class="item<%= index == header.current ? ' current' : '' %>">
          <a href="<%= item.path %>">
            <i class="iconfont <%= item.icon %>"></i>
            <%= item.title %>
          </a>
          <% if (index == 1) { %>
          <nav class="side-nav-list">
            <%
            const current = aside.current || ''
            const _categories = aside.categories || []
            const html = []
            const forEachTree = (data = [], level = 0) => {
              html.push('<ul>')
              data.forEach(item => {
                if (item.mode != 'collection') {
                html.push(`<li><a href="${global.mkArticleLink(item.filepath, 'index')}" class="${level == 0 ? 'first-level' : ''} level-${level} ${item.filepath.join('/') == current ? 'current' : ''}">${item.title}</a>`)
                if (item.children && item.children.length > 0) {
                  forEachTree(item.children, (level + 1))
                }
                html.push('</li>')
                }
              })
              html.push('</ul>')
            }
            forEachTree(_categories, 0)
            %>
            <%- html.join('') %>
          </nav>
          <% } %>
        </li>
        <% 
          })
        %>
      </ul>
    </nav>
  </div>
  <div class="top-search">
    <form method="GET" action="/search.html">
      <input type="text" name="keyword" placeholder="试试搜索功能" id="top-search-input">
      <button type="submit"><i class="iconfont icon-search"></i></button>
    </form>
  </div>
</header>