<!DOCTYPE html>
<html>
  <head>
    <%- include(`${global.path}/components/head.ejs`, {
      head,
      global
    }) %>
  </head>
  <body>
    <div class="totonoo--layout">
      <%- include(`${global.path}/components/header.ejs`, {
        header
      }) %>
      <div class="totonoo--timeline">
        <ul>
          <li class="first"><div class="arrow"></div></li>
          <%
          const list = main.list || []
          %>
          <%
          list.forEach((item, index) => {
          %>
          <li class="item">
            <% if (index == 0 ) { %>
            <small>此时此刻</small>
            <% } else { %>
            <small><%= global.formatDatetime(item.publishDate) %></small>
            <% } %>
            <span class="content">
              <%= item.title %>
              <% if (item.image) { %>
              <img src="<%= item.image %>">
              <% } %>
            </span>
          </li>
          <%
          })
          %>          
          <li class="last"><div class="arrow"></div></li>
        </ul>
      </div>
      <%- include(`${global.path}/components/footer.ejs`, {
        global,
        footer
      }) %>
    </div>
    <%- include(`${global.path}/components/scripts.ejs`, {
      global,
      scripts
    }) %>
  </body>
</html>
