<!DOCTYPE html>
<html>
  <head>
    <%- include(`${global.path}/components/head.ejs`, {
      head,
      global
    }) %>
  </head>
  <body>
    <div class="totonoo--layout totonoo--categories">
      <%- include(`${global.path}/components/header.ejs`, {
        header,
        aside
      }) %>
      <div class="totonoo--main-box">
        <div class="totonoo--main-scroll">
          <div class="totonoo--main-layout">
            <%- include(`${global.path}/components/aside.ejs`, {
              aside
            }) %>
            <main class="main">
              <%- include(`${global.path}/components/breadcrumb.ejs`, {
                breadcrumbs: main.breadcrumbs
              }) %>
              <div class="totonoo--post-list">
                <%
                const _list = main.list || []
                _list.forEach(item => {
                %>
                <div class="item">
                  <h3 class="title">
                    <a href="<%= global.mkArticleLink(item.filepath, item.filename) %>"><%= item.title%></a>
                  </h3>
                  <p class="desc"><%= item.desc%>... <a href="<%= global.mkArticleLink(item.filepath, item.filename) %>" class="more"><i class="iconfont icon-search"></i>详细</a></p>
                  <div class="info">
                    <ul>
                      <li><i class="iconfont icon-folder-close"></i><a href="<%= global.mkArticleLink(item.filepath, 'index') %>"><%= item.catalogueName %></a></li>
                      <li><i class="iconfont icon-time"></i><%= global.formatDatetime(item.publishDate) %></li>
                      <li>
                        <i class="iconfont icon-discount"></i>
                        <%
                        const _keywords = item.keywords || []
                        _keywords.forEach(keyword => {
                        %>
                        <a href="<%= global.mkTagsLink(keyword) %>"><%= keyword %></a>
                        <% }) %>                      
                      </li>
                    </ul>
                  </div>
                </div>
                <% }) %>
              </div>
              <%- include(`${global.path}/components/pager.ejs`, {
                pages: main.pages
              }) %>
            </main>
          </div>
          <%- include(`${global.path}/components/footer.ejs`, {
            global,
            footer
          }) %>
        </div>
      </div>
    </div>
    <%- include(`${global.path}/components/scripts.ejs`, {
      global,
      scripts
    }) %>
  </body>
</html>
