<!DOCTYPE html>
<html>
  <head>
    <%- include(`${global.path}/components/head.ejs`, {
      head,
      global
    }) %>
  </head>
  <body>
    <div class="totonoo--layout">
      <%- include(`${global.path}/components/header.ejs`, {
        header
      }) %>
      <div class="totonoo--main-box">
        <%- include(`${global.path}/components/aside.ejs`, {
          aside
        }) %>
        <main class="totonoo--main">
          <%- include(`${global.path}/components/breadcrumb.ejs`, {
            breadcrumbs: main.breadcrumbs
          }) %>
          <div class="totonoo--post-list">
            

<div class="item">
  <h3 class="title">
    <a href="/detail.html">为什么前端工程师需要掌握设计工具</a>
  </h3>
  <p class="desc">前端有时候又被称为页面仔，切图仔，原因就是前端有一部分工作就是将设计稿转换成html页面。如果不掌握一个设计工具，作为页面仔的工作要提效是不可能的。比如我最喜欢的Photoshop，简称PS，如果记不清快捷键...</p>
  <div class="info">
    <ul>
      <li><i class="iconfont icon-folder-close"></i><a href="/categories.html">基础教程</a></li>
      <li><i class="iconfont icon-time"></i>2020-06-20 23:20:20</li>
      <li>
        <i class="iconfont icon-discount"></i>
        
        <a href="/tags.html">前端设计</a>
        
        <a href="/tags.html">工具</a>
        
        <a href="/tags.html">js</a>
        
      </li>
    </ul>
  </div>
</div>

<div class="item">
  <h3 class="title">
    <a href="/detail.html">js和nodejs的关系与区别</a>
  </h3>
  <p class="desc">Javascript（JS）是一种脚本语言，主要用于 Web。它用于增强 HTML 页面，通常可以嵌入 HTML 代码中。JavaScript 是一种解释型语言。因此，它不需要编译。JavaScript 以交互式和动态的方式呈现网页。这允许页面对事件做出反应，展示特殊效果，接受可变文本，验证数据，创建 cookie，检测用户的浏览器等...</p>
  <div class="info">
    <ul>
      <li><i class="iconfont icon-folder-close"></i><a href="/categories.html">基础教程</a></li>
      <li><i class="iconfont icon-time"></i>2020-06-20 23:20:20</li>
      <li>
        <i class="iconfont icon-discount"></i>
        
        <a href="/tags.html">前端设计</a>
        
        <a href="/tags.html">工具</a>
        
        <a href="/tags.html">Javascript</a>
        
      </li>
    </ul>
  </div>
</div>

<div class="item">
  <h3 class="title">
    <a href="/detail.html">写在前面的话</a>
  </h3>
  <p class="desc">我是一个前端开发者，而且是干了很长时间的前端。现在终于开始动手总结一下自己的学习经验了，出发点很简单，也许能帮到一个人，就算只帮到一个也算是完成了他的意义，自己这么多年的经验没有白费了...</p>
  <div class="info">
    <ul>
      <li><i class="iconfont icon-folder-close"></i><a href="/categories.html">基础教程</a></li>
      <li><i class="iconfont icon-time"></i>2020-06-20 23:20:20</li>
      <li>
        <i class="iconfont icon-discount"></i>
        
        <a href="/tags.html">前端设计</a>
        
        <a href="/tags.html">工具</a>
        
        <a href="/tags.html">总结</a>
        
      </li>
    </ul>
  </div>
</div>

<div class="item">
  <h3 class="title">
    <a href="/detail.html">说说什么是前端</a>
  </h3>
  <p class="desc">首先我说的是一家之言，我也不是专家教授，意思就是这个是我这么认为，没有什么好反驳的，也没啥好辩论的，没意思，还不如去看几页金庸的武侠小说...</p>
  <div class="info">
    <ul>
      <li><i class="iconfont icon-folder-close"></i><a href="/categories.html">基础教程</a></li>
      <li><i class="iconfont icon-time"></i>2020-06-20 23:20:20</li>
      <li>
        <i class="iconfont icon-discount"></i>
        
        <a href="/tags.html">前端设计</a>
        
        <a href="/tags.html">工具</a>
        
        <a href="/tags.html">一家之言</a>
        
      </li>
    </ul>
  </div>
</div>

            

<div class="item">
  <h3 class="title">
    <a href="/detail.html">为什么前端工程师需要掌握设计工具</a>
  </h3>
  <p class="desc">前端有时候又被称为页面仔，切图仔，原因就是前端有一部分工作就是将设计稿转换成html页面。如果不掌握一个设计工具，作为页面仔的工作要提效是不可能的。比如我最喜欢的Photoshop，简称PS，如果记不清快捷键...</p>
  <div class="info">
    <ul>
      <li><i class="iconfont icon-folder-close"></i><a href="/categories.html">基础教程</a></li>
      <li><i class="iconfont icon-time"></i>2020-06-20 23:20:20</li>
      <li>
        <i class="iconfont icon-discount"></i>
        
        <a href="/tags.html">前端设计</a>
        
        <a href="/tags.html">工具</a>
        
        <a href="/tags.html">js</a>
        
      </li>
    </ul>
  </div>
</div>

<div class="item">
  <h3 class="title">
    <a href="/detail.html">js和nodejs的关系与区别</a>
  </h3>
  <p class="desc">Javascript（JS）是一种脚本语言，主要用于 Web。它用于增强 HTML 页面，通常可以嵌入 HTML 代码中。JavaScript 是一种解释型语言。因此，它不需要编译。JavaScript 以交互式和动态的方式呈现网页。这允许页面对事件做出反应，展示特殊效果，接受可变文本，验证数据，创建 cookie，检测用户的浏览器等...</p>
  <div class="info">
    <ul>
      <li><i class="iconfont icon-folder-close"></i><a href="/categories.html">基础教程</a></li>
      <li><i class="iconfont icon-time"></i>2020-06-20 23:20:20</li>
      <li>
        <i class="iconfont icon-discount"></i>
        
        <a href="/tags.html">前端设计</a>
        
        <a href="/tags.html">工具</a>
        
        <a href="/tags.html">Javascript</a>
        
      </li>
    </ul>
  </div>
</div>

<div class="item">
  <h3 class="title">
    <a href="/detail.html">写在前面的话</a>
  </h3>
  <p class="desc">我是一个前端开发者，而且是干了很长时间的前端。现在终于开始动手总结一下自己的学习经验了，出发点很简单，也许能帮到一个人，就算只帮到一个也算是完成了他的意义，自己这么多年的经验没有白费了...</p>
  <div class="info">
    <ul>
      <li><i class="iconfont icon-folder-close"></i><a href="/categories.html">基础教程</a></li>
      <li><i class="iconfont icon-time"></i>2020-06-20 23:20:20</li>
      <li>
        <i class="iconfont icon-discount"></i>
        
        <a href="/tags.html">前端设计</a>
        
        <a href="/tags.html">工具</a>
        
        <a href="/tags.html">总结</a>
        
      </li>
    </ul>
  </div>
</div>

<div class="item">
  <h3 class="title">
    <a href="/detail.html">说说什么是前端</a>
  </h3>
  <p class="desc">首先我说的是一家之言，我也不是专家教授，意思就是这个是我这么认为，没有什么好反驳的，也没啥好辩论的，没意思，还不如去看几页金庸的武侠小说...</p>
  <div class="info">
    <ul>
      <li><i class="iconfont icon-folder-close"></i><a href="/categories.html">基础教程</a></li>
      <li><i class="iconfont icon-time"></i>2020-06-20 23:20:20</li>
      <li>
        <i class="iconfont icon-discount"></i>
        
        <a href="/tags.html">前端设计</a>
        
        <a href="/tags.html">工具</a>
        
        <a href="/tags.html">一家之言</a>
        
      </li>
    </ul>
  </div>
</div>

          </div>
          <div class="totonoo--pagination">
  <ul>
    <li class="prev"><a href="#"><i class="iconfont icon-direction-left"></i></a></li>
    <li class="current"><span>1</span></li>
    <li class="num"><a href="#">2</a></li>
    <li class="num"><a href="#">3</a></li>
    <li class="num"><a href="#">4</a></li>
    <li class="num"><a href="#">5</a></li>
    <li class="num"><a href="#">6</a></li>
    <li class="ellipsis"><span>...</span></li>
    <li class="num"><a href="#">20</a></li>
    <li class="next"><a href="#"><i class="iconfont icon-direction-right"></i></a></li>
  </ul>
</div>
        </main>
      </div>
      <%- include(`${global.path}/components/footer.ejs`, {
        global,
        footer
      }) %>
    </div>
    <%- include(`${global.path}/components/scripts.ejs`, {
      global,
      scripts
    }) %>
  </body>
</html>
